<li><a href="/register" ng-class="{active: $route.current.activetab == 'Register'}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
<li><a href="/login" ng-class="{active: $route.current.activetab == 'Login'}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>