<li style="display:none;"><a href="/admincp/profile" ng-class="{active: $route.current.activetab == 'Progile'}"><span class="glyphicon glyphicon-user"></span> <span id="username"></span></a></li>
<li style="display:none;"><a href="javascript:void(0)" onclick="logout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>