<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>MEAN</title>
<meta name="title" content="MEAN" />
<meta name="description" content="Description" />
<meta name="keywords" content="Keywords" />
<meta property="og:title" content="Title" />
<meta property="og:description" content="Description" />
<meta property="og:type" content="website" />
<meta property="og:url" content="" />
<meta property="og:image" content="" />