<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="Project">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    {{> head}}
</head>
<body>
    <div class="container-fluid" ng-cloak="">
        {{{body}}}
    </div>
    <script src="./js/Controllers/c1.js" language="javascript" type="text/javascript"></script>
    <script src="./js/Services/API.js" language="javascript" type="text/javascript"></script>
</body>
</html>