<section id="sec-1" class="row">
    <p class="jumbotron col-xs-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <div>
        <img src="images/300x200.png" class="slide-img img-responsive col-xs-12 col-sm-4" alt="Alternate Text" />
        <img src="images/300x200.png" class="slide-img img-responsive col-xs-12 col-sm-4" alt="Alternate Text" />
        <img src="images/300x200.png" class="slide-img img-responsive col-xs-12 col-sm-4" alt="Alternate Text" />
    </div>
</section>
<section id="sec-2" class="row">
    <div class="thumbnail col-xs-12 col-sm-4 text-center">
        <i class="glyphicon glyphicon-check middle-post-icon"></i>
        <div class="caption text-center">
            <h3 class="well well-sm">Title 1</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
    </div>
    <div class="thumbnail col-xs-12 col-sm-4 text-center">
        <i class="glyphicon glyphicon-cloud middle-post-icon"></i>
        <div class="caption text-center">
            <h3 class="well well-sm">Title 2</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
    </div>
    <div class="thumbnail col-xs-12 col-sm-4 text-center">
        <i class="glyphicon glyphicon-gift middle-post-icon"></i>
        <div class="caption">
            <h3 class="well well-sm">Title 3</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
    </div>
</section>
<div class="section-sep">
    <i class="glyphicon glyphicon-triangle-top"></i>
    <hr />
</div>
<section id="sec-3" class="row">
    <span class="media col-xs-12 col-sm-3">Media</span>
    <p class="col-xs-12 col-sm-9">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s., when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
    <div class="thumbnail col-xs-12">
        <img src="images/player.png" class="img-responsive col-xs-12 col-sm-8" alt="Alternate Text" />
        <p class="caption col-xs-12 col-sm-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s.</p>
    </div>
</section>
<section id="sec-4" class="row">
    <img src="images/300x100.png" class="slide-img img-responsive col-xs-12 col-sm-4" alt="Alternate Text" />
    <img src="images/300x100.png" class="slide-img img-responsive col-xs-12 col-sm-4" alt="Alternate Text" />
    <img src="images/300x100.png" class="slide-img img-responsive col-xs-12 col-sm-4" alt="Alternate Text" />
</section>