#logout_btn {
    display: none;
}

.typing {
    position: absolute;
    z-index: 9;
    padding: 5px 0 0 10px;
    color: #ccc;
}

.scrollbar {
    margin-bottom: 10px;
}

    .scrollbar::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    .scrollbar::-webkit-scrollbar {
        width: 8px;
        background-color: #F5F5F5;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background-color: #265a88;
    }

.row {
    margin-bottom: 15px;
}

.slide-img {
    margin-bottom: 15px;
}

.seprator1 {
    height: 20px;
}

.seprator2 {
    height: 20px;
}

.seprator3 {
    height: 75px;
}

.middle-post-icon {
    font-size: 50px;
    color: #2fa4e7;
}

.section-sep {
    text-align: center;
}

    .section-sep i {
        color: #2fa4e7;
        font-size: 30px
    }

    .section-sep hr {
        background-color: #2fa4e7;
        border: 0;
        margin-top: -12px;
        height: 3px;
    }

.media {
    font-size: 60px;
    text-align: center;
}

@media (min-width: 992px) {
    .slide-menu {
        position: fixed
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .slide-menu .bookmark {
        width: 18%;
        margin-left: 2%;
    }
}

@media (min-width: 992px) {
    .slide-menu .menu-img {
        margin-bottom: 5%;
    }
}

.inputs {
    width: 100%;
    border: 0;
    background-color: transparent;
}

.right {
    float: right
}

.has-error span {
    position: absolute;
    margin-top: -27px;
    right: 25px;
    font-weight: 900;
}

.form-signin {
    margin-top: 5%;
    border: 3px dashed rgba(0, 0, 0, 0.1);
}

    .form-signin .checkbox {
        font-weight: normal;
        margin: 10px 30px;
    }

    .form-signin .form-control {
        margin-top: -1px;
        margin-bottom: -1px;
        border-radius: 0;
    }

    .form-signin div {
        z-index: 2;
    }

        .form-signin div:first-of-type > .form-control {
            margin-bottom: -1px;
            border-radius: 4px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .form-signin div:last-of-type > .form-control {
            border-radius: 4px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            margin-bottom: 15px;
        }

    .form-signin > * > a {
        float: right;
    }

button {
    margin-bottom: 10px;
}